<div class="text-white">
  <form class="space-y-4" (ngSubmit)="onSubmit()" [formGroup]="recipeForm">
    <div class="flex justify-between items-center">
      <label class="basis-1/3" for="name">Name</label>
      <div class="flex-1">
        <input
          formControlName="name"
          type="text"
          id="name"
          class="w-full ud-input" />
        <!-- <p *ngIf="name.invalid && name.touched">Please enter a name!</p> -->
      </div>
    </div>
    <div class="flex justify-between items-center">
      <label class="basis-1/3" for="imageURL">Image URL</label>
      <div class="flex-1">
        <input
          formControlName="imageURL"
          type="text"
          id="imageURL"
          class="w-full ud-input"
          #imagePath />
        <!-- <p *ngIf="name.invalid && name.touched">Please enter a name!</p> -->
      </div>
    </div>
    <div>
      <img [src]="imagePath.value" alt="" />
    </div>
    <div class="flex justify-between items-center">
      <label class="basis-1/3" for="description">Description</label>
      <div class="flex-1">
        <textarea
          formControlName="description"
          type="text"
          id="description"
          class="w-full ud-input"></textarea>
        <!-- <p *ngIf="name.invalid && name.touched">Please enter a name!</p> -->
      </div>
    </div>
    <ng-container formArrayName="ingredients">
      <div
        class="flex justify-between items-center gap-x-5"
        *ngFor="let ingredient of ingredientsControl.controls; let i = index"
        [formGroupName]="i">
        <input type="text" class="w-8/12 ud-input" formControlName="name" />
        <input type="number" class="w-2/12 ud-input" formControlName="amount" />
        <button class="ud-btn bg-red-500" type="button" (click)="onDelete(i)">
          Delete
        </button>
        <!-- <p *ngIf="name.invalid && name.touched">Please enter a name!</p> -->
      </div>
    </ng-container>
    <button
      class="ud-btn bg-green-500"
      (click)="onAddIngredient()"
      type="button">
      Add ingredient
    </button>
    <div class="space-x-6">
      <button
        class="ud-btn bg-green-500"
        type="submit"
        [disabled]="recipeForm.invalid">
        {{ editMode ? 'Update' : 'Save' }}
      </button>
      <button class="ud-btn bg-blue-500" type="button" (click)="onCancel()">
        Cancel
      </button>
    </div>
  </form>
</div>
