<div class="w-1/3 space-y-6">
  <app-shopping-edit></app-shopping-edit>
  <ul class="space-y-2">
    @for (ingredient of ingredients$ | async; track ingredient.name) {
      <li>
        <button
          class="w-full text-left text-[wheat] p-2 border border-solid border-[#34353f] rounded-lg"
          (click)="onEditItem($index)">
          <span class="inline-block first-letter:uppercase">{{
            ingredient.name
          }}</span>
          <span>({{ ingredient.amount }})</span>
        </button>
      </li>
    }
  </ul>
</div>
