<div class="text-white">
  <form class="space-y-4">
    <div class="flex justify-between items-center">
      <label class="basis-1/3" for="name">Name</label>
      <input class="flex-1 ud-input" type="text" id="name" />
    </div>
    <div class="flex justify-between items-center">
      <label class="basis-1/3" for="amount">Amount</label>
      <input class="flex-1 ud-input" type="text" id="amount" />
    </div>
    <div class="space-x-6">
      <button class="ud-btn bg-green-500" type="submit">Add</button>
      <button class="ud-btn bg-red-500" type="button">Delete</button>
      <button class="ud-btn bg-blue-500" type="button">Clear</button>
    </div>
  </form>
</div>
