<div class="text-white space-y-4">
  <div class="flex justify-between items-center">
    <label class="basis-1/3" for="name">Name</label>
    <input class="flex-1 ud-input" type="text" id="name" [(ngModel)]="name" />
  </div>
  <div class="flex justify-between items-center">
    <label class="basis-1/3" for="status">Status</label>

    <app-select class="flex-1" id="status" [(ngModel)]="selectedStatus">
      @for (status of statusArray; track status) {
        <app-select-option [value]="status">{{ status }}</app-select-option>
      }
    </app-select>
  </div>
  <div class="space-x-6">
    <button class="ud-btn" type="submit" (click)="onAdd()">Add Account</button>
  </div>
</div>
