<div class="border border-solid border-gray-500 p-4 rounded">
  <h3>{{ account.name }}</h3>
  <hr class="my-5" />
  <h4 class="mb-3">This account is {{ account.status }}</h4>
  <div class="space-x-4">
    <button
      class="ud-btn bg-green-500"
      (click)="changedStatus.emit(accountStatus.active)">
      Set to {{ accountStatus.active }}
    </button>
    <button
      class="ud-btn bg-red-500"
      (click)="changedStatus.emit(accountStatus.inactive)">
      Set to {{ accountStatus.inactive }}
    </button>
    <button class="ud-btn" (click)="changedStatus.emit(accountStatus.hidden)">
      Set to {{ accountStatus.hidden }}
    </button>
  </div>
</div>
