<app-header (featureSelected)="onNavigate($event)"></app-header>

<main class="bg-[#444653] flex-1">
  <div class="container mx-auto py-4 px-3 sm:px-0 space-x-6">
    <!-- <app-cockpit (createdResource)="addedResources($event)"></app-cockpit>
    <app-server-item *ngFor="let resource of resources" [resource]="resource">
      <p #contentChild>
        <strong
          *ngIf="resource.type === resourceType.Server; else blueprint"
          class="text-red-500"
          >{{ resource.content }}</strong
        >
        <ng-template #blueprint>
          <em class="text-blue-500">{{ resource.content }}</em>
        </ng-template>
      </p>
    </app-server-item> -->

    <!-- <app-recipes *ngIf="loadedFeature === PAGE_TITLE.RECIPES"></app-recipes>
    <app-shopping-list
      *ngIf="loadedFeature !== PAGE_TITLE.RECIPES"></app-shopping-list> -->

    <!-- <button (click)="state = !state">Change</button>
    <div *appUnless="state">
      <p [appHighlight]="'red'" [defaultColor]="'yellow'">Highlight</p>
    </div> -->

    <!-- <app-dropdown [(ngModel)]="dropdownSelected">
      <app-dropdown-option *ngFor="let item of dropdownData" [value]="item">
        {{ item.name }}
      </app-dropdown-option>
    </app-dropdown>

    <button (click)="selecteDropdown()">Select</button>
    <button (click)="addDropdownOption()">addDropdownOption</button> -->

    <app-new-account (addedAccount)="onAddedAccount($event)"></app-new-account>
    <app-account-list>
      <app-account-item
        *ngFor="let ac of accounts"
        [account]="ac"
        (changedStatus)="onChangedStatus(ac, $event)"
        class="block"></app-account-item
    ></app-account-list>
  </div>
</main>
