<app-header></app-header>

<main class="bg-[#444653] flex-1">
  <div class="container mx-auto py-4 px-3 sm:px-0 space-x-6 text-center">
    <!-- <app-recipes></app-recipes>
    <app-shopping-list></app-shopping-list> -->

    <!-- <app-cockpit (createdResource)="addedResources($event)"></app-cockpit>
    <app-server-item *ngFor="let resource of resources" [resource]="resource">
      <p #contentChild>
        <strong
          *ngIf="resource.type === resourceType.Server; else blueprint"
          class="text-red-500"
          >{{ resource.content }}</strong
        >
        <ng-template #blueprint>
          <em class="text-blue-500">{{ resource.content }}</em>
        </ng-template>
      </p>
    </app-server-item> -->

    <!-- <button (click)="state = !state">Change</button>
    <div *appUnless="state">
      <p [appHighlight]="'red'" [defaultColor]="'yellow'">Highlight</p>
    </div> -->

    <!-- <app-select [(ngModel)]="selectSelected">
      <app-select-option *ngFor="let item of selectData" [value]="item">
        {{ item.name }}
      </app-select-option>
    </app-select>

    <button (click)="select()">Select</button>
    <button (click)="addSelectOption()">addSelectOption</button> -->

    <!-- <app-new-account (addedAccount)="onAddedAccount($event)"></app-new-account>
    <app-account-list>
      <app-account-item
        *ngFor="let ac of accounts"
        [account]="ac"
        (changedStatus)="onChangedStatus(ac, $event)"
        class="block"></app-account-item
    ></app-account-list> -->

    <!-- <app-active-users [users]="activeUsers"></app-active-users>
    <app-inactive-users [users]="inactiveUsers"></app-inactive-users> -->

    <!-- <router-outlet></router-outlet> -->

    <form #postForm="ngForm" (ngSubmit)="onCreatePost(postForm.value)">
      <div class="text-white space-y-4">
        <div class="flex justify-between items-center">
          <label class="basis-1/3" for="title">Title</label>
          <input
            type="text"
            class="flex-1 ud-input"
            id="title"
            required
            ngModel
            name="title" />
        </div>

        <div class="flex justify-between items-center">
          <label class="basis-1/3" for="content">Content</label>
          <textarea
            class="flex-1 ud-input"
            id="content"
            required
            ngModel
            name="content">
          </textarea>
        </div>

        <button class="ud-btn" type="submit" [disabled]="!postForm.valid">
          Send Post
        </button>
      </div>
    </form>

    <hr class="my-6" />

    <div class="space-x-4">
      <button class="ud-btn" (click)="onFetchPosts()">Fetch Posts</button>
      <span>|</span>
      <button
        class="ud-btn"
        [disabled]="loadedPosts.length < 1"
        (click)="onClearPosts()">
        Clear Posts
      </button>
    </div>

    <div class="mt-6">
      <ng-container *ngIf="loadedPosts.length !== 0; else noPosts">
        <ul>
          <li *ngFor="let post of loadedPosts">
            <p>{{ post.title }}</p>
            <p>{{ post.content }}</p>
          </li>
        </ul>
      </ng-container>

      <ng-template #noPosts>No posts available!</ng-template>
    </div>
  </div>
</main>
