<header
  class="container mx-auto px-3 sm:px-0 flex justify-center items-center h-24">
  <div class="basis-2/6">
    <a href="#">Recipe Book</a>
  </div>
  <nav class="basis-full">
    <ul class="flex space-x-16">
      <li [ngClass]="{ active: active === PAGE_TITLE.RECIPES }">
        <button (click)="onSelectedFeature(PAGE_TITLE.RECIPES)">Recipes</button>
      </li>
      <li [ngClass]="{ active: active === PAGE_TITLE.SHOPPING_LIST }">
        <button (click)="onSelectedFeature(PAGE_TITLE.SHOPPING_LIST)">
          Shopping List
        </button>
      </li>
    </ul>
  </nav>
  <select class="ud-select">
    <option value="save">Save Data</option>
    <option value="fetch">Fetch Data</option>
  </select>
</header>
