<header
  class="container mx-auto px-3 sm:px-0 flex justify-center items-center h-24">
  <div class="basis-2/6">
    <a href="#">Recipe Book</a>
  </div>
  <nav class="basis-full">
    <ul class="flex space-x-16">
      <li><button (click)="onSelectedFeature('recipes')">Recipes</button></li>
      <li>
        <button (click)="onSelectedFeature('shopping-list')">
          Shopping List
        </button>
      </li>
    </ul>
  </nav>
  <select class="ud-select">
    <option value="save">Save Data</option>
    <option value="fetch">Fetch Data</option>
  </select>
</header>
